<h1>Bias</h1>

<form action:'/' method:"get">
<!--   News Sources:<br>
  <select name="newsources">
  <option value="cnn.com">CNN</option>
  <option value="rt.com">RT</option>
  <option value="foxnews.com">FOX</option>
  <option value="cbc.ca">CBC</option>
</select> -->
  <br><br>
  Search Subject:<br>
  <input type="text" name="topic">
  <input type="submit" value="Submit">
</form>



<% @articles.each do |article| %>
  <p><%=article[:title] %></p>
  <p><a href="<%=article[:url]%>"><%=article[:url]%></a></p>
  <p><%=article[:score] %></p>
  <p><%=article[:type] %></p>
<%end%>


<p> Average Sentiment type: <%= @average_sentiment_type %>  
<p> Average Sentiment score: <%= @average_sentiment_score %>  





