<div class = "container">
  <div class="column" id="center"> 
    <h1 id="title">Bias</h1>
    <br>

    <form action:'/' method:"get">
      <input id="search" type="search" name="topic" placeholder="search topic">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>



  <div class = "columns" >
    <% @articles.each do |article| %>
      <p><a href="<%=article[:url]%>" target="_blank"><%=article[:title]%></a></p>
      <p><%=article[:source] %></p>
      <p><%=article[:score] %></p>
      <p><%=article[:type] %></p>
    <%end%>


    <p> Average Sentiment type: <%= @average_sentiment_type %>  
    <p> Average Sentiment score: <%= @average_sentiment_score %>  
  </div>

</div>



